.video-banner {
    position: relative;
  }
  
  .video-banner .desktop-video-container {
    display: none;
  }
  
  .video-banner .mobile-video-container {
    display: block;
  }
  
  .video-banner .mobile-video-container video {
    display: inline;
    max-width: -webkit-fill-available;
    width: 100%;
    max-height: 75vh;
    object-fit: cover;
    margin-bottom: -9px;
  }
  
  .video-banner .logo-container {
    display: none;
  }
  
  .video-banner .play-pause-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2rem 1.5rem;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 14px;
    filter: drop-shadow(-1px 1px 4px rgba(0, 0, 0, 1.0));
  }
  
  @media (width >= 900px) {
    .video-banner::before {
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      transform: rotate(180deg);
      position: absolute;
      top: 0;
      height: 240px;
      width: 100%;
    }
    .video-banner .desktop-video-container {
      display: block;
    }
  
    .video-banner .desktop-video-container video {
      display: inline;
      max-width: -webkit-fill-available;
      width: 100%;
      max-height: 88vh;
      object-fit: cover;
      margin-bottom: -7px;
    }
    
    .video-banner .mobile-video-container {
      display: none;
    }
  
    .video-banner .logo-container {
      display: block;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  
    .video-banner .play-pause-button {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 2rem;
      padding: 5px 8px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #fff;
      font-size: 14px;
      top: unset;
      filter: drop-shadow(-1px 1px 4px rgba(0, 0, 0, 1.0));
    }
  }